.nav {
  background-color: rgba(173, 216, 230, 0.97);
  text-align: center;
  width: 100%;
  padding: 10px;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 25px;
}
